/*#####################################################*/
/*#####################################################*/
/*#####################################################*/
/*
    BASIC
*/

    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        box-sizing: border-box;
    }

    html {
        font-family: sans-serif;
        padding: 0;
        margin: 0;
    }

    body {
        font-family: 'Muli', sans-serif;
        padding: 0;
        margin: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        font-size: 1em;
        font-weight: 400;
    }

    .wrapper{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    button:focus{
        outline: none !important;
    }


/*#####################################################*/
/*#####################################################*/
/*#####################################################*/
/*
    NAVBAR
*/ 

    .header-scrolled{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:#fff !important;
        -webkit-box-shadow: 0 4px 6px 0 rgba(12,0,46,.06);
        box-shadow: 0 4px 6px 0 rgba(12,0,46,.06);
    }

    .navbar{
        background-color: transparent;
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
    }
    
    .navbar-brand{
        display: flex;
        align-items: center;
    }

    .custom-toggler.navbar-toggler {
        border-color: #ff9933;
        background-color: #fff;
    }
    .custom-toggler .navbar-toggler-icon{
        background-image: url("../images/responsive-toggle.svg");
    }

    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    
    .navbar-nav .nav-item .nav-link{
        font-size: 1rem;
        font-weight: 600;
        color: #333366;
    }

    .navbar-nav .nav-item .nav-link:hover{
        color: #ff9933;
    }

    .navbar-nav .nav-item .nav-link:focus{
        color: #ff9933;
        outline: none;
    }

    .navbar-nav .nav-item .nav-link:active{
        color: #ff9933;
    }

    .social-media-nav{
        justify-content: flex-end;
    }

    .get-started-btn{
        color: #fff !important;
        font-size: 1rem !important;
        font-weight: 400 !important;
        background-color: #ff9933;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 15px -2px rgba(255, 153, 51, 0.5) !important;
        box-shadow: 0 5px 15px -2px rgba(255, 153, 51, 0.5) !important;
        padding: 0.5rem 1rem;
        display: inline-block;
    }

    .nav-item .get-started-btn{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .get-started-btn:hover{
        text-decoration: none;
        outline: none;
        background-color: #EF4136;
        -webkit-box-shadow: 0 5px 15px -2px rgba(239, 65, 54, 0.5) !important;
        box-shadow: 0 5px 15px -2px rgba(239, 65, 54, 0.5) !important;
    }

    .get-started-btn-responsive{
        display: none;
    }

    @media screen and (max-width: 991.98px){

        .navbar-nav .nav-item .nav-link{
            text-align: center;
        }

        .nav-item .get-started-btn{
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .social-media-nav{
            flex-direction: row;
            justify-content: center;
        }

        .social-media-nav li:last-child{
            display: none;
        }

        .navbar-collapse{
            background-color:#fff;
            padding-bottom: 20px;
            -webkit-box-shadow: 0 1px 1px 0 rgba(10,16,34,.2) !important;
            box-shadow: 0 1px 1px 0 rgba(10,16,34,.2) !important;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .get-started-btn-responsive{
            display: flex;
        }

    }


/*#####################################################*/
/*#####################################################*/
/*#####################################################*/
/*
    HEADER
*/

    .header{
        width: 100%;
        height: 100vh;
        background-color: #f8f9fd;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .terms-header{
        margin-top: 100px;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .bgicon{
        position: absolute;
    } 

    .bgicon-one{
        left: 5%;
        top: 10%;
    }

    .bgicon-two{
        left: 35%;
        top: 15%;
    }

    .bgicon-three{
        right: 5%;
        top: 5%;
    }

    .bgicon-four{
        left: -1%;
        top: 40%;
    }

    .bgicon-five{
        left: 5%;
        bottom: 5%;
    }

    .bgicon-six{
        left: 30%;
        bottom: 10%;
    }

    .bgicon-seven{
        right: 5%;
        bottom: 5%;
    }

    .bgicon-eight{
        right: 8%;
        top: 50%;
    }

    .header-section{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        text-align: left;
    }

    .header-container{
        /*display: flex;
        align-items: center;
        justify-content: center;*/
    }

    .header-title-div{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: center;
        justify-content: center;
        margin-top: 1rem;
    }

    .header-title{
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 800;
        margin-bottom: 0.5rem;
        color: #333366;
    }

    .header-subtitle{
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
        color: #333366;
    }

    .header-title-theme{
        color: #ff9933;
    }

    .header-title-img{
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }

    .header-title-img-background-bottom{
        position: absolute;
        bottom: -10%;
        left: 3%;
    }

    .header-title-img-background-top{
        position: absolute;
        top: -10%;
        right: 3%;
    }

    .header-video-container{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }

    .header-video-container img{
        width: 100%;
        -webkit-box-shadow:0 60px 120px -10px rgba(10,16,34,.2) !important;
        box-shadow:0 60px 120px -10px rgba(10,16,34,.2) !important;
    }

    .header-video-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,.5);
        -webkit-transition: all .5s;
        transition: all .5s;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-video-overlay .icon{
        width: 100px;
        height: auto;
        background-size: auto;
        background-size: 100%;
    }

    .header-video-overlay .icon img{
        width: 100%;
    }

    .header-video-overlay-pause{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,.5);
        -webkit-transition: all .5s;
        transition: all .5s;
        z-index: 1;
        align-items: center;
        justify-content: center;
    }

    .header-video-overlay-pause .icon{
        width: 100px;
        height: auto;
        background-size: auto;
        background-size: 100%;
    }

    .header-video-overlay-pause .icon img{
        width: 100%;
    }


    @media screen and (max-width: 767.98px){

        .header-container{
            flex-direction: column-reverse;
        }

        .header-title-div{
            margin-top: 5rem;
        }

    }

    @media screen and (max-width: 399.98px){

        .header-title-div{
            margin-top: 0rem;
        }

    }


/*#####################################################*/
/*#####################################################*/
/*#####################################################*/
/*
    SECTION TWO
*/

    .section-two{
        width: 100%;
        height: auto;
        background-color: #fff;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .section-two-container{
        text-align: center;
    }

    .section-two-header-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section-two-header{
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 1rem;
        color: #333366;
        font-weight: 800;
    }

    .section-two-subheader{
        font-size: 1rem;
        color: #333366;
        line-height: 1.9rem;
        font-weight: 400;
    }

    .section-two-videos-section{
        margin-top: 3rem;
    }

    .section-two-videos-container{
        display: flex;
        width: 100%;
        max-width: 100%;
    }

    .section-two-video-card{
        background-color: transparent;
        padding-top: 3rem;
        padding-bottom: 2.5rem;
        /*padding-right: 2rem;
        padding-left: 2rem;*/
        position: relative;
    }

    .section-two-bgicon-one{
        position: absolute;
        top: -15%;
        right: -10%;
    }

    .section-two-bgicon-two{
        position: absolute;
        bottom: -10%;
        left: 10%;
    }

    .section-two-bgicon-three{
        position: absolute;
        bottom: -8%;
        left: 45%;
    }

    .section-two-video-panel{
        background-color: transparent;
        padding: 0;
        cursor: pointer;
    }

    .section-two-video{
        width: 100%;
        -webkit-box-shadow: 0 0px 50px 0px rgba(10,16,34,.2) !important;
        box-shadow: 0 0px 50px 0px rgba(10,16,34,.2) !important;
    }

    @media screen and (max-width: 799.98px){
        .section-two-videos-container{
            flex-direction: column;
        }
    }


/*#####################################################*/
/*#####################################################*/
/*#####################################################*/
/*
    SECTION THREE
*/
    
    .section-three{
        padding-top: 5rem;
        padding-bottom: 5rem;
        background-color: #f8f9fd;
    }

    .section-three-header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-three-header-title{
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 1rem;
        color: #333366;
        font-weight: 800;
    }

    .section-three-features-container{
        display: flex;
        flex-wrap: wrap;
    }

    .section-three-features-card-container{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .section-three-features-card{
        background-color: transparent;
        text-align: left;
    }

    .section-three-features-card-img{
        padding: 0;
        margin-bottom: 0.5rem;
    }

    .section-three-features-card-title h3{
        font-size: 1.2rem;
        line-height: 1.9rem;
        margin-bottom: 0.5rem;
        color: #333366;
        font-weight: 800;   
    }

    .section-three-features-card-subtitle p{
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
        color: #333366;
    }

    .read-more{
        font-weight: 800;
        color: #FE736C !important;
        white-space: nowrap;
    }

    .read-more:hover{
        text-decoration: none;
        color: #ff9933;
        cursor: pointer;
    }

    .read-more:focus{
        outline: none;
    }

    .read-more-toggle-text{
        display: none;
    }

    .section-three-get-started-div{
        text-align: center;
        margin-top: 1rem;
    }

    @media screen and (max-width: 991.98px){
        .section-three-features-card{
            text-align: center;
        }
    }


/*#####################################################*/
/*#####################################################*/
/*#####################################################*/
/*
    SECTION FOUR
*/

    .section-four{
        padding-top: 5rem;
        padding-bottom: 5rem;
        background-color: #fff;
    }

    .section-four-container{
        display: flex;
    }

    .section-four-img-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-four-img{
        width: 100%;
    }

    .section-four-img-text{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .section-four-img-text-img{
        margin-bottom: 0.5rem;
    }

    .section-four-img-text-img img{
        width: 100px;
        height: auto;
    }

    .section-four-img-text-title h3{
        font-size: 1.2rem;
        line-height: 1.9rem;
        margin-bottom: 0.5rem;
        color: #333366;
        font-weight: 800;
    }

    .section-four-img-text-p p{
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
        color: #333366;
    }

    @media screen and (max-width: 767.98px){
        .section-four-container{
            flex-direction: column;
        }

        .section-four-img-section{
            margin-bottom: 3rem;
        }

        .section-four-img-text{
            align-items: center;
        }
    }


/*#####################################################*/
/*#####################################################*/
/*#####################################################*/
/*
    SECTION FIVE
*/

    .section-five{
        padding-top: 5rem;
        padding-bottom: 5rem;
        background-color: #f8f9fd;
    }

    .section-five-header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .section-five-header h2{
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 1rem;
        color: #333366;
        font-weight: 800;
    }

    .section-five-header p{
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
        color: #333366;
        max-width: 800px;
    }

    .yt-video-container{
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.5%;
    }

    .yt-video-container iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .section-five-slider-video{
        padding: 5rem 0;
    }

    .new-effects-owl-carousel .owl-dots .owl-dot span{
        width: 5px !important;
        height: 5px !important;
        margin: 5px 5px;
        background: #999999 !important;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
        border-radius: 30px;
    }

    .new-effects-owl-carousel .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
        background: #ff9933 !important;
    }

    .new-effects-owl-carousel .owl-dots .owl-dot.active span{
        background: #ff9933 !important;
        width: 15px !important;
        height: 5px !important; 
        border-radius: 10px !important;
    }

    .owl-stage .center .section-five-slider-video{
        transform: scale(1.2) !important;
    }

    .owl-stage .cloned .section-five-slider-video{
        transform: scale(1) !important;
    }

    .section-fiv-get-started-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }

    @media screen and (max-width: 849.98px){
        .section-five-header p{
            max-width: 500px;
        }
    }

    @media screen and (max-width: 767.98px){
        .owl-stage .center .section-five-slider-video{
            transform: scale(1) !important;
        }

        .owl-stage .cloned .section-five-slider-video{
            transform: scale(1) !important;
        }
    }

    @media screen and (max-width: 549.98px){
        .section-five-header p{
            max-width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }


/*#####################################################*/
/*#####################################################*/
/*#####################################################*/
/*
    SECTION SIX
*/

    .section-six{
        background-color: #fff;
        padding-top: 5em;
        padding-bottom: 5rem;
    }

    .section-six-header{
        text-align: center;
    }

    .section-six-header h2{
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 1rem;
        color: #333366;
        font-weight: 800;
    }

    .reviews-owl-carousel{
        background-color: transparent;
        margin-top: 3rem;
    }

    .section-six-review-card{
        background-color: transparent;
        display: flex;
    }

    .review-card-img{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("../images/reviews-bg.png") no-repeat center center;
        padding: 2.5rem;
        background-size: contain;
    }

    .review-card-img img{
        width: 100%;
        position: relative;
    }

    .review-card-review{
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    .review-card-review p{
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
        color: #333366;
    }

    .review-card-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .review-card-author{
        text-align: center;
        position: relative;
        padding-top: 1rem;
    }

    .review-card-author-quote-mark{
        width: 30px;
        height: 30px;
        position: absolute;
        left: -10%;
        top: -20%;
    }

    .review-card-author-quote-mark img{
        width: 100%;
    }

    .review-card-author h3{
        font-size: 1.2rem;
        line-height: 1.9rem;
        margin-bottom: 0.5rem;
        color: #333366;
        font-weight: 800;
    }

    .review-card-author p{
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
        color: #333366;
    }

    .owl-nav{
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .owl-prev{
        position: absolute;
        top: 50%;
        left: 0;
    }

    .owl-next{
        position: absolute;
        top: 50%;
        right: 0;
    }

    .owl-theme .owl-nav [class*="owl-"]:hover{
        background: transparent !important;
        transform: scale(1.3) !important;
    }


    @media screen and (max-width: 991.98px){

        .review-card-img{
            padding: 1.5rem;
        }

    }

    @media screen and (max-width: 767.98px){
        .section-six-review-card{
            flex-direction: column;
        }

        .review-card-img{
            padding: 3.5rem;
        }

        .review-card-author-quote-mark{
            left: -15%;
        }
    }


/*#####################################################*/
/*#####################################################*/
/*#####################################################*/
/*
    SECTION SEVEN
*/

    .section-seven{
        padding-top: 5rem;
        padding-bottom: 5rem;
        background-color: #f8f9fd;
        position: relative;
        overflow: hidden;
    }

    .section-seven-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section-seven-container h2{
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 1rem;
        color: #333366;
        font-weight: 800;
        z-index: 9;
    }

    .section-seven-container p{
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
        color: #333366;
        z-index: 9;
    }

    .section-seven-form{
        display: flex;
    }

    .section-seven-form-section{
        margin-top: 2rem;
        z-index: 9;
    }

    .section-seven-form input{
        border: 1px solid #fff;
        background-color: #fff;
        font-size: 1rem;
        color: #333366;
        padding-left: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 300px;
        -webkit-box-shadow:0px 5px 40px 15px rgba(10,16,34,.2) !important;
        box-shadow: 0px 5px 40px 15px rgba(10,16,34,.2) !important;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

    }

    .section-seven-form button{
        background-color: #ff9933;
        color: #fff;
        font-size: 1rem;
        line-height: 1.6rem;
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0.5rem 1rem;
        -webkit-box-shadow:35px 5px 40px 15px rgba(10,16,34,.2) !important;
        box-shadow: 35px 5px 40px 15px rgba(10,16,34,.2) !important;
        display: flex;
        align-items: last baseline;
        justify-content: center;
    }

    .section-seven-form button:hover{
        background-color: #EF4136;
    }

    .section-seven-form button:active{
        background-color: #EF4136;
    }

    .section-seven-form button:focus{
        background-color: #EF4136;
    }

    .section-seven-bg-icon{
        position: absolute;
    }

    .section-seven-bg-icon-one{
        top: 15%;
        left: 10%;
    }

    .section-seven-bg-icon-two{
        left: 0;
        bottom: 0;
    }

    .section-seven-bg-icon-three{
        left: 25%;
        bottom: 15%;
    }

    .section-seven-bg-icon-four{
        bottom: -8%;
        right: 30%;
    }

    .section-seven-bg-icon-five{
        bottom: 15%;
        right: 20%;
    }

    .section-seven-bg-icon-six{
        bottom: 8%;
        right: -1%;
        opacity: 0.5;
    }

    .section-seven-bg-icon-seven{
        top: -4%;
        right: 10%;
    }

    .subscription-modal-body-content p{
        font-size: 1.2rem;
        font-weight: 800;
        line-height: 1.9rem;
    }

    .subscription-modal-body-content-header{
        font-size: 2rem;
        color: #ff9933;
        line-height: 4rem;
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 449.98px){
        .section-seven-form input{
            width: 100%;
        }
    }


/*#####################################################*/
/*#####################################################*/
/*#####################################################*/
/*
    SECTION EIGHT
*/

    .section-eight{
        background-color: #fff;
        padding-top: 5em;
        padding-bottom: 5rem;
    }

    .section-eight-header{
        text-align: center;
        margin-bottom: 2rem;
    }

    .section-eight-header h2{
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 1rem;
        color: #333366;
        font-weight: 800;
    }

    .accordion{
        background-color: #f8f9fd !important;
        color: #333366 !important;
        font-size: 1.2rem !important;
        line-height: 1.9rem !important;
        font-weight: 800 !important;
        font-family: 'Muli', sans-serif !important;
        margin-bottom: 1rem;
    }

    .accordion:hover{
        background-color: rgba(255, 153, 51, 0.1) !important;
    }

    .panel>p{
        font-size: 1rem;
        line-height: 1.4rem;
        color: #333366;
    }

    .panel>p>a{
        text-decoration: none;
    }

    .panel>p>a:hover{
        text-decoration: none;
    }


/*#####################################################*/
/*#####################################################*/
/*#####################################################*/
/*
    FOOTER
*/

    .footer-section{
        padding-top: 5rem;
        background-color: #24243E;
    }

    .footer-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 5rem;
        border-bottom: 0.5px solid #999999;
    }

    .footer-logo{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: #999999;
    }

    .footer-logo img{
        width: 175px;
        height: auto;
        margin-bottom: 2rem;
    }

    .footer p{
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
        color: #999999;
    }

    .footer-social-media-nav{
        flex-direction: row;
        justify-content: flex-start;
    }

    .footer-social-media-nav li{
        margin-right: 2rem;
        color: #999999;
    }

    .footer-social-media-nav .nav-item .nav-link{
        color: #999999;
    }

    .footer h3{
        font-size: 1rem;
        line-height: 1.9rem;
        margin-bottom: 2rem;
        color: #fff;
        font-weight: 800; 
    }

    .footer-ul{
        list-style: none;
        padding: 0;
    }

    .footer-ul li a{
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
        color: #999999;
    }

    .footer-ul li a:hover{
        text-decoration: none;
        color: #ff9933;
    }

    .footer-ul li a:focus{
        outline: none;
    }

    .footer-ul li a i{
        display: none;
    }

    .footer-ul li a:hover .fa-minus{
        display: inline-block;
        background-color: transparent;
        margin-right: 0.4rem;
        height: 2px;
    }

    @media screen and (max-width: 767.98px){
        .footer{
            margin-bottom: 2rem;
        }
    }


/*#####################################################*/
/*#####################################################*/
/*#####################################################*/
/*
    CREDITS
*/

    .credits{
        background-color: #24243E;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .credits-container{
        display: flex;
        justify-content: space-between;
    }

    .credits-container p{
        font-size: 1rem;
        line-height: 1.4rem;
        color: #999999;   
    }

    .credits-container a{
        font-size: 1rem;
        line-height: 1.4rem;
        color: #999999;   
    }

    .credits-container a:hover{
        text-decoration: none;
        color: #ff9933;
    }

    @media screen and (max-width: 549.98px){
        .credits-container{
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }


/*#####################################################*/
/*#####################################################*/
/*#####################################################*/
/*
    COOKIES
*/
    #cookies-section{
        display: none;
    }

    .cookies-popup{
        position: fixed;
        right: 2%;
        bottom: 3%;
        background-color: #fff;
        padding: 2rem;
        width: 500px;
        z-index: 999;
        text-align: center;
        -webkit-box-shadow: 0 60px 120px -10px rgba(10,16,34,.5) !important;
        box-shadow: 0 60px 120px -10px rgba(10,16,34,.5) !important;
    }

    .cookies-bg{
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem;
        z-index: -1;
    }

    .cookies-bg img{
        height: 100%;
        width: auto;
    }

    .cookies-head{
        display: flex;
        justify-content: flex-end;
    }

    .cookies-head .close-icon:hover{
        color: red;
    }

    .cookies-body h2{
        font-size: 1.5rem;
        line-height: 1.9rem;
        margin-bottom: 1rem;
        color: #333366;
        font-weight: 800; 
    }

    .cookies-body p{
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
        color: #333366;
    }

    .cookies-btns a{
        text-decoration: underline;
        margin-left: 2rem;
        color: #333366;
    }

    .cookies-btns{
        z-index: 999;
    }

    .cookies-btns a:hover{
        outline: none;
    }

    .cookies-btns .get-started-btn{
        border: none;
    }

    @media screen and (max-width: 499.98px){
        .cookies-popup{
            width: 100%;
            bottom: 0;
            right: 0;
        }
    }


/*#####################################################*/
/*#####################################################*/
/*#####################################################*/
/*
    MODAL
*/

    .modal-header{
        border-bottom: none;
    }

    .close{
        font-size: 2rem;
    }

    .modal-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem 5rem 5rem 5rem;
    }

    .modal-body-content p{
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
        color: #333366;
    }

    .modal-form{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-form input{
        border: 1px solid #fff;
        background-color: #eeeff0;
        font-size: 1rem;
        color: #333366;
        padding-left: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 300px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    button{
        border: none;
    }

    .modal-content{
        position: relative;
        overflow: hidden;
    }

    .modal-content-bg{
        width: 100%;
    }

    .modal-content-bg-icon{
        position: absolute;
    }

    .modal-bg-icon-one{
        top: 10%;
        left: 15%;
    }

    .modal-bg-icon-two{
        top: 35%;
        left: 7%;
    }

    .modal-bg-icon-three{
        bottom: 25%;
        left: 25%;

    }

    .modal-bg-icon-four{
        bottom: 12%;
        left: 27%;
    }

    .modal-bg-icon-five{
        bottom: -5px;
        left: 35%;
    }

    .modal-bg-icon-six{
        bottom: 10%;
        left: 39%;
    }

    .modal-bg-icon-seven{
        top: 35%;
        right: 15%;
    }






